* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* HEADER */

.sec-header {
  padding: 0 10px;
}

.top-header {
  min-height: 30px;
  background-color: #1c1c1c;
}

.div-header {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  align-items: center;
}

.link-header {
  display: none;
  gap: 20px;
  align-items: center;
}

.link-header a {
  color: #464646;
  font-size: 12px;
  font-weight: 600;
  position: relative;
}

.link-header a:hover {
  color: #0282f9;
}

.active {
  position: relative;
}

.active a {
  color: #0282f9;
}

.active:after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #0282f9;
  bottom: -285%;
  left: 50%;
  transform: translateX(-50%);
}

.logo-header {
  width: 80px;
  height: 80px;
}

.link-header a:hover:after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #0282f9;
  bottom: -370%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-menu {
  width: 40px;
  height: 40px;
  background-color: #0282f9;
  border: 1px blue solid;
  border-radius: 12px;
  position: relative;
}
.hidden {
  display: none !important;
}

.btn-menu:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #0c7cec;
}

.btn-menu:after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-menu:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.menu-link > li {
  display: block;
  padding: 5px;
  width: 150px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  background-color: #0c7cec;
  border-radius: 14px;
}

.menu-link a {
  color: white;
}

.menu-link > li:hover {
  box-shadow: 0 0 10px #0c7cec;
}

/* MAIN */

.sec-main-top {
  height: 350px;
  background-image: url("/jumbotron.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.sec-main-top-div {
  width: 80vw;
  position: relative;
  margin: 0 auto;
  height: 350px;
}

.sec-main-top-div > span {
  position: absolute;
  background-color: #0282f9;
  color: white;
  padding: 10px;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
}

.sec-main {
  background-color: #1c1c1c;
  min-height: 100px;
  color: white;
  padding: 10px;
}

.div-main {
  width: 80vw;
  margin: 0 auto;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  min-height: 100px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0;
}

.card {
  width: calc(100% / 2 - (10px * 3 / 2));
  height: 400px;
  padding: 5px;
  margin: 10px 0;
}

.card > div {
  margin: 0 auto;
  width: 100%;
}

.card figcaption {
  overflow: scroll;
  max-height: 100px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.load-more {
  width: 150px;
  margin: 20px auto;
  background-color: #0282f9;
  color: white;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

/* FOOTER ONE*/

.first-sec-footer {
  padding: 10px;
  background-color: #0282f9;
  color: white;
}

.first-div-footer {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.first-div-mini-card {
  width: calc(100% / 5 - (30px * 4 / 5));
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.first-div-mini-card > div {
  overflow: hidden;
}

.first-div-mini-card img {
  width: 60px;
  max-width: 100%;
  height: 60px;
  object-fit: contain;
}

.first-div-mini-card span {
  display: none;
  font-size: 12px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* FOOTER TWO */

.second-sec-footer {
  background-image: url("/footer-bg.jpg");
  min-height: 400px;
  position: relative;
}

.second-div-footer {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* FOOTER LINK */

.footer-link-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: 30px 0;
  gap: 20px;
  justify-content: left;
  align-items: flex-start;
}

.foo-link {
  width: 100%;
  color: white;
  font-size: 22px;
  font-weight: 600;
  overflow: hidden;
}

.foo-link span {
  display: block;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.foot-li a {
  text-overflow: ellipsis;
  color: #959595;
  padding: 5px 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

/* MEDIA QUERY */

@media screen and (min-width: 678px) {
  .card {
    width: calc(100% / 4 - (10px * 3 / 4));
  }
  .foo-link {
    width: calc(100% / 2 - (20px * 1 / 2));
  }
}

@media screen and (min-width: 992px) {
  .footer-link-container {
    width: 30%;
  }
  .foo-link {
    width: calc(100% / 3 - (20px * 2 / 3));
  }
  .card {
    width: calc(100% / 6 - (10px * 5 / 6));
  }
  .link-header {
    display: flex;
  }
  .btn-menu {
    display: none;
  }
  .menu-link {
    display: none;
  }
  .first-div-mini-card span {
    display: inline;
  }
}
