* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.sec-header {
  padding: 0 10px;
}

.div-header {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.link-header {
  display: none;
  gap: 20px;
  align-items: center;
}

.link-header a {
  color: #464646;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.link-header a:hover {
  color: #0282f9;
}

.link-header a:hover:after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #0282f9;
  bottom: -270%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-menu {
  width: 40px;
  height: 40px;
  background-color: #0282f9;
  border: 1px blue solid;
  border-radius: 12px;
  position: relative;
}

.hidden {
  display: none !important;
}

.btn-menu:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #0c7cec;
}

.btn-menu:after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-menu:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.menu-link > li {
  display: block;
  padding: 5px;
  width: 150px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  background-color: #0c7cec;
  border-radius: 14px;
}

.menu-link a {
  color: white;
}

.menu-link > li:hover {
  box-shadow: 0 0 10px #0c7cec;
}

@media screen and (min-width: 992px) {
  .link-header {
    display: flex;
  }
  .btn-menu {
    display: none;
  }
  .menu-link {
    display: none;
  }
}
